<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>knc trust bharuch List</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include("includes/userporternavcopy.ejs") %>
    <form method="post" action="/trust/admin/back/<%=don.userName%>/">
      <button id="backbtn" type="submit">BACK</button>
    </form>

    <div class="homain">
      <h1>Total Admin List</h1>

      <div class="ta">
        <table>
          <thead>
            <tr>
              <th>_id</th>
              <th>userName</th>
              <th>passWord</th>
              <th>name</th>
              <th>city</th>
              <th>area</th>
              <th>mobile</th>
              <th>email</th>
            </tr>
          </thead>
          <% for(donor of admin) { %>
          <tbody>
            <tr>
              <td><%=donor._id%></td>
              <td><%=donor.userName%></td>
              <td><%=donor.passWord%></td>             
              <td><%=donor.name%></td>
              <td><%=donor.city%></td>
              <td><%=donor.area%></td>
              <td><%=donor.mobile%></td>
              <td><%=donor.email%></td>
            </tr>
          </tbody>
          <%}%>
        </table>
        <div id="btn">
         
        </div>
      </div>
    </div>
  </body>
</html>
